/********************************************* POLICES *******************************/

@font-face {
    font-family: "Norwester";
    src: url("../fonts/norwester.otf");
}

@font-face {
    font-family: "FuturaBold";
    src: url("../fonts/futuraBold.otf");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/ralewayRegular.ttf");
}

/***************************************** COULEURS ***********************************/

html {
    --jaune: #FEC65C;
    --rouge: #ED1B70;
    --orange: #F79754;
    --noir: #231F20;
}

/**************************************** PROPRIETES SUR TOUT *****************************************/

body {
    margin: 0;
}

header {
    z-index: 10;
}

canvas {
    height: 100%;
    z-index: 0;
    position: absolute;
}

h1 {
    font-size: 50px;
}

/*************************************** PAGE INDEX ***************************************************/

@keyframes spriteSliding {
    from {
        background-position: calc(-69vh * 24);
    }
    to {
        background-position: 0;
    }
}

.mainIndex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainIndex section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.indexLink::after {
    content: '';
    display: block;
    width: 69vh;
    height: 69vh;
    position: absolute;
    top: 15vh;
    left: calc(50vw - 35vh);
    z-index: 1;
    background-image: url(../images/sprite_1.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    animation: spriteSliding 0.7s steps(24, start) infinite;
    animation-play-state: running;
}

.welcomeIndex {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, var(--rouge), var(--jaune));
    color: white;
}

.welcomeIndex p {
    max-width: 70%;
    min-width: 10%;
    font-family: "Raleway";
    font-size: 2.5vh;
    line-height: 1.5;
}

.welcomeIndex h2 {
    text-align: center;
    font-family: "FuturaBold";
    font-size: 6vh;
}

.welcomeIndex strong {
    font-weight: 1500;
    font-size: 2.8vh;
}

.indexLink a {
    position: absolute;
    top: 85vh;
    z-index: 1;
    text-decoration: none;
    font-family: "FuturaBold", sans-serif;
    font-size: 30px;
    color: var(--jaune);
    padding: 15px;
    border: 5px solid var(--jaune);
    background-color: transparent;
    transition: .1s;
    border-radius: 2px;
}

.mainIndex h1 {
    position: absolute;
    top: calc(20vh - 10vw);
    font-family: "Norwester";
    color: var(--jaune);
    font-size: 10vw;
    margin-top: 0;
}

.mainIndex a:hover {
    transition: .1s linear;
    padding: 15px 40px;
    color: var(--rouge);
    border: 5px solid var(--rouge);
}

/****************************************************** FOOTER ****************************************/

.footer {
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "FuturaBold";
    background-color: white;
}

.footer img:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.footer img {
    transition: 0.2s;
}

/* Footer left */

.footerGauche {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50vw;
}

.logo {
    max-height: 15vw;
}

.footer-links {
    color: var(--noir);
    margin: 0;
    padding: 0;
    width: 40vw;
    text-align: center;
    height: 30px;
    font-size: 1.3vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-width: 200px;
    margin: 20px;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    font-size: 22px;
}

.footer-links a:hover {
    color: var(--rouge);
    transition: 0.2s;
}

.footerReseaux img {
    max-width: 3vw;
    padding: 5px;
}

.footerReseaux img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.footerReseaux {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.footerReseaux a {
    margin: 0 20px;
}

/* Footer Right */

.footerDroite {
    float: right;
    display: inline-block;
    padding: 0 0 2vw 2vw;
}

.footerDroite h3 {
    vertical-align: top;
    margin-bottom: 20px;
    color: var(--orange);
    font-size: 1.8vw;
    color: var(--noir);
}

/* The contact form */

.footer form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sectionSolo form input,
.footer form input,
.footer form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    border: 3px solid var(--rouge);
    resize: none;
    outline: none;
    font-size: 14px;
    color: black;
    width: 20vw;
    padding: 18px;
}

.footer::-webkit-input-placeholder {
    color: #5c666b;
}

.footer::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer:-ms-input-placeholder {
    color: #5c666b;
}

.footer form input {
    height: 55px;
    margin-bottom: 15px;
    font-family: "Raleway";
}

.footer form textarea {
    height: 100px;
    margin-bottom: 20px;
    font-family: "Raleway";
}

.footer form button {
    background-color: white;
    border: 3px solid var(--rouge);
    border-radius: 3px;
    color: var(--rouge);
    outline: none;
    padding: 15px 50px;
    float: right;
    cursor: pointer;
    font-size: 18px;
    font-family: "FuturaBold", sans-serif;
}

.footer form button:hover {
    transition: 0.2s;
    transform: scale(1.02);
    border: 3px solid var(--orange);
    color: var(--orange);
}

/* @media (max-width: 1000px) {
    .footer {
        font: bold 14px sans-serif;
    }
    .footer .footerNom {
        font-size: 12px;
    }
    .footer form input,
    .footer form textarea {
        width: 250px;
    }
    .footer form button {
        padding: 10px 35px;
    }
}

@media (max-width: 800px) {
    .footer {
        padding: 30px;
    }
    .footer .footerGauche,
    .footer .footerDroite {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer .footerGauche {
        margin-bottom: 40px;
    }
    .footer form {
        margin-top: 30px;
    }
    .footer form {
        display: block;
    }
    .footer form button {
        float: none;
    }
}
*/

/************************************************** ABOUT *************************************/

.mainAbout {
    background: #292929;
}

.equipe {
    padding-top: 6vh;
    text-align: center;
    font-family: 'FuturaBold';
    color: #2D2D2D;
    margin-top: 5vh;
}

.equipe h2 {
    font-size: 5vw;
    color: white;
    font-family: 'FuturaBold';
}

.lesPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    max-width: 50vw;
    margin: auto;
}

.unePhoto {
    max-width: 10vw;
    min-width: 150px;
    border-radius: 5px;
    border: 3px white solid;
    margin: 20px;
}

.unePhoto:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.unePhoto img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.unePhoto figcaption h3 {
    margin: 10px;
    font-weight: normal;
    font-weight: 500;
}

.unePhoto figcaption {
    color: white;
    text-align: center;
    font-weight: 300;
    padding: 0px 10px 15px 10px;
    font-family: 'Raleway', sans-serif;
}

.enDessous {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 10vw 0 10vw;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10vh;
}

.BoiteAIdee {
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 5px;
    margin-top: 50px;
    border: 3px solid white
}

.BoiteAIdee h2 {
    font-weight: normal;
    margin: 0;
    font-weight: 500;
    color: white;
    font-family: 'FuturaBold';
}

.BoiteAIdee p {
    color: white;
    font-weight: 300;
}

.BoiteAIdee form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    resize: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    color: black;
    border: none;
    padding: 10px;
}

.BoiteAIdee form {
    width: 100%;
    margin: 0;
}

.BoiteAIdee form input {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    color: black;
    border: none;
    padding: 10px;
}

.BoiteAIdee button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    outline: none;
    padding: 10px;
    transition: 0.2s;
}

.BoiteAIdee button:hover {
    font-weight: 700;
    transition: 0.2s;
    padding: 10px 25px;
    color: var(--jaune);
    border-color: var(--jaune);
}

.AVenir {
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 5px;
    border: 3px solid white;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.AVenir h2 {
    color: white;
    font-weight: normal;
    margin: 0;
    font-weight: 500;
    font-family: 'FuturaBold';
}

.AVenir p {
    font-weight: 500;
}

.AVenir p,
.AVenir ul {
    color: white;
}

.AVenir li {
    padding-top: 10px;
    font-weight: 300;
}

/********************************************* PAGES ADMIN ********************************************/

.headerAdmin {
    display: flex;
    justify-content: space-around;
}

.mainAdmin {
    background: #292929;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.headerAdmin h2 {
    color: white;
    font-family: "FuturaBold";
    font-size: 28px;
}

.headerAdmin div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerAdmin input {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
}

.headerAdmin input:hover {
    border: 2px solid var(--jaune);
    color: var(--jaune);
}

.mainAdmin h3 {
    text-align: center;
    font-family: "FuturaBold";
    font-size: 24px;
    color: white;
}

.addSongSection {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addSongForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    font-family: "Raleway";
}

.addSongForm input,
.addSongForm select {
    color: white;
}

.addSongForm fieldset {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 3px solid white;
}

.addSongForm legend {
    color: white;
    font-family: "FuturaBold";
    font-size: 22px;
}

#chansonForm .adminLangues {
    display: inline-flex;
}

#chansonForm .choixLangue {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding-bottom: 5px;
    align-items: center;
}

#chansonForm .choixLangue input {
    cursor: pointer;
    background-color: white;
}

#chansonForm .choixLangue img {
    margin-right: 20px;
    width: 40px;
    cursor: pointer;
    transition: 0.2s;
}

#chansonForm .choixLangue img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#chansonForm {
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
}

#chansonForm div {
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#chansonForm legend {
    align-self: center;
}

#timeCode {
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
}

#timeCode div {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5px;
}

#reponsesForm div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

#reponsesForm {
    width: 97%;
    box-sizing: border-box;
}

#reponsesForm label {
    margin-right: 20px;
}

#timeCode span,
#timeCode label {
    margin: 0 10px;
}

.addSongForm input[type=number],
.addSongForm input[type=text],
.addSongForm input[type=url],
.addSongForm select {
    border: 2px solid white;
    ;
    font-family: 'Raleway';
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
}

.addSongForm input::placeholder {
    color: #dedede;
}

.addSongForm input[type=text],
.addSongForm input[type=url],
.addSongForm select {
    width: 60%;
    margin-bottom: 5px;
}

.addSongForm input[type=number] {
    width: 20%;
}

.addSongForm input[type="button"],
.addSongForm input[type="submit"] {
    border: 2px solid white;
    background-color: transparent;
    height: 30px;
    cursor: pointer;
    margin: 0 20px;
    color: white;
}

.addSongForm input[type="button"]:hover,
.addSongForm input[type="submit"]:hover {
    border: 2px solid var(--jaune);
    color: var(--jaune);
}

/*************************************************** HEADER **************************************/

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    font-family: "FuturaBold";
    background-color: white;
    height: auto;
    width: 100vw;
}

.indexColor .mainHeader {
    background-color: transparent;
}

.mainHeader .container {
    display: block;
    z-index: 5;
    cursor: pointer;
    transition: transform .2s;
    height: 100px;
}

.mainHeader .container:hover {
    transform: scale(1.1);
}

.container svg {
    width: 100px;
    height: 100px;
}

.container svg path,
.container svg line {
    stroke: var(--jaune);
    stroke-width: 6px;
    stroke-linecap: round;
    fill: none;
}

.menuHidden {
    transform: translateX(-400px);
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: var(--noir);
    transition: transform 0.7s 0.1s ease-in-out;
    padding-top: 15vh;
    padding-bottom: 15vh;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.menuShown {
    transform: translateX(0);
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: var(--noir);
    transition: transform 0.7s 0.1s ease-in-out;
    padding-top: 15vh;
    padding-bottom: 15vh;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.mainHeader ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.mainHeader li:hover {
    cursor: pointer;
}

.mainHeader li:nth-child(1) {
    background-image: url(../images/icon_accueil.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 45px;
}

.mainHeader li:nth-child(2) {
    background-image: url(../images/icon_play.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.mainHeader li:nth-child(3) {
    background-image: url(../images/icon_rank.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 45px;
}

.mainHeader li:nth-child(4) p {
    padding: 0;
    margin: 0;
    background-image: url(../images/icon_login.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 45px;
}
.mainHeader .logoAccountHeader{
    background-image: url(../images/icon_account.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
}
#fullScreenButton {
    cursor: pointer;
    transition: transform .2s;
}

#fullScreenButton:hover {
    transform: scale(1.15);
}

#fullScreenButton svg {
    width: 30px;
    height: 30px;
    display: inline-block;
}

#fullScreenButton svg path,
#fullScreenButton svg line {
    stroke: var(--rouge);
    stroke-width: 0px;
    fill: var(--rouge);
}

.mainHeader a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

li .loginMenu {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.loginMenu:hover {
    color: var(--jaune);
}

.mainHeader p:hover {
    cursor: pointer;
}

.mainHeader .login:hover {
    color: var(--rouge);
}

.rightHeader {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-around;
    padding: 0 30px;
}

.connect a {
    font-size: 18px;
    color: var(--rouge);
}

.indexColor .connect a {
    font-size: 18px;
    color: var(--rouge);
}

.login {
    font-size: 18px;
    color: var(--rouge);
    margin: 0;
    padding-bottom: 2px;
    height: 25px;
    top: 5px;
    position: relative;
}

.login::after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: var(--rouge);
}

.login:hover::after {
    width: 100%;
    left: 0;
}

.mainHeader figure {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}

.mainHeader img {
    width: 100%;
}

/********************************************** POPUP CONNEXION **************************************/

.popup,
.popup_regle {
    display: block;
    opacity: 0;
    transition: opacity linear .2s;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation-play-state: running;
}

.is-open {
    opacity: 1;
}

.popup-content,
.popup-content_regle {
    background-color: #fefefe;
    margin: 15% auto;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.popup-content form {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.popup-content h2,
.popup-content_regle h2 {
    padding-top: 10%;
    margin: 0;
    font-family: 'FuturaBold';
    font-size: 28px;
    color: var(--orange);
}

.popup-content input {
    height: 10%;
    outline: none;
    margin-bottom: 10%;
    border: 3px solid var(--orange);
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.popup-content button {
    height: 15%;
    width: 50%;
    border: 3px solid var(--rouge);
    align-self: center;
    font-family: 'FuturaBold';
    font-size: 18px;
    cursor: pointer;
    color: var(--rouge);
    transition: 0.2s;
    background-color: white;
}

.popup-content button:hover {
    transform-origin: center;
    width: 60%;
    border-color: var(--jaune);
    color: var(--jaune);
    transition: 0.2s;
}

.close,
.close_regle {
    color: var(--orange);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: calc(100% - 28px);
}

.close:hover,
.close:focus,
.close_regle:hover,
.close_regle:focus {
    color: #784199;
    text-decoration: none;
    cursor: pointer;
}

.popup-content_regle ul {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 300;
    list-style-image: url(images/list.png);
}

/*********************************************** PRE GAME PAGE ****************************************/

.preGamePage {
    background: #292929;
    height: 100vh;
    padding: 50px;
    padding-top: 150px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.preGamePage h1 {
    margin-bottom: 50px;
    font-weight: 500;
    color: white;
    font-family: "FuturaBold";
}

.preGamePage form {
    margin: auto;
    max-width: 35%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.preGamePage fieldset {
    height: 30%;
    border: 3px solid white;
    /*background-color: ##fec65c;*/
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.preGamePage img {
    max-width: 50px;
    vertical-align: center;
}

.preGamePage fieldset:first-child div {
    max-width: 200px;
    display: inline-block;
}

.preGamePage fieldset:first-child div input {
    vertical-align: middle;
    margin: 0;
    margin-top: 7px;
}

.preGamePage fieldset:first-child div img {
    vertical-align: middle;
}

.preGamePage fieldset:first-child div img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.preGamePage label {
    padding: 0px 5px 0 5px;
    vertical-align: middle;
    font-weight: 500;
}

.preGamePage button[type="button"] {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    font-weight: 300;
    border: 3px solid white;
    font-family: inherit;
    font-size: 20px;
    transition: 0.2s;
    outline: none;
    width: 120px;
    cursor: pointer;
}

.preGamePage button[type="button"]:hover {
    transition: 0.2s;
    width: 150px;
    border: 3px solid var(--rouge);
    color: var(--rouge);
}

.preGamePage input[type=radio] {
    width: 15px;
    height: 15px;
    opacity: 0;
}

.preGamePage input[type=radio] + label:after {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.preGamePage input[type=radio]:checked + label:after {
    background: var(--rouge);
    border-color: var(--rouge);
    transition: 0.1s;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.preGamePage input[type=radio]:hover {
    cursor: pointer;
}

.preGamePage button[type=submit] {
    width: 150px;
    min-width: 30%;
    height: 20%;
    align-self: center;
    font-family: inherit;
    font-size: 40px;
    border: 3px solid white;
    font-weight: 300;
    outline: none;
    padding: 5px 0px 5px 0px;
    border-radius: 3px;
    transition: 0.2s;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.preGamePage button[type=submit]:hover {
    transition: 0.2s;
    width: 200px;
    border: 3px solid var(--rouge);
    color: var(--rouge);
}

.preGamePage select {
    background-color: transparent;
    color: white;
    border: none;
    font-family: inherit;
    outline: none;
    font-size: 18px;
    border-bottom: white 2px solid;
}

.preGamePage select option {
    background-color: #2D2D2D;
}

/*****************************************
***************** GAME SOLO JEU *********
***************************************/

.sectionSolo {
    margin: 100px 0 0 0;
    position: relative;
    height: calc(100vh - 100px);
    background-color: #292929;
}

.sectionSolo .ytplayer {
    flex: 0.9;
    width: 100%;
    pointer-events: none;
    align-self: center;
}

.sectionSolo .score {
    top: 3vw;
    left: 3vw;
    width: 10vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionSolo .score img {
    width: calc(10vw + 10px);
    border-radius: 50%;
    border: 5px solid var(--rouge);
    box-sizing: border-box;
}

.sectionSolo .score figure {
    margin: 0;
    margin-bottom: 3vw;
}

.sectionSolo .score .barScoreMax {
    background-color: var(--jaune);
    width: 15px;
    position: relative;
    height: calc(100vh - 110px - 19vw);
    border-radius: 20px;
}

.sectionSolo .score .barScore {
    background: var(--rouge);
    width: 100%;
    border-radius: 20px;
    position: absolute;
    bottom: 0px;
}

.sectionSolo .contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
    height: 100%;
}

.sectionSolo .contenu > * {
    width: 100%;
}

.sectionSolo .numEtTuto input {
    position: relative;
    top: 48px;
    left: calc(50% - 18px);
    background-color: transparent;
    border: 3px solid var(--orange);
    border-radius: 100px;
    width: 36px;
    height: 36px;
    outline: none;
    font-family: 'FuturaBold';
    font-size: 20px;
    color: var(--orange);
    transition: 0.2s;
    text-align: center;
}

.sectionSolo .numEtTuto input:hover {
    font-size: 21px;
    border: 3px solid var(--rouge);
    color: var(--rouge);
    transform: scale(1.1);
    transform-origin: center;
    transition: 0.2s;
    cursor: pointer;
}

.sectionSolo .numEtTuto p {
    font-family: 'Raleway';
    color: white;
    font-weight: 700;
}

.sectionSolo .numEtTuto p:last-child {
    font-size: 25px;
}

.sectionSolo .phraseACompleter {
    font-family: 'FuturaBold';
    font-size: 33px;
    color: white;
    margin-top: 20px;
}

.sectionSolo .reponses {
    margin-top: 2vh;
    display: flex;
    width: 100%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
}

.sectionSolo .reponses .sousReponses {
    height: 15vh;
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.sectionSolo .reponses .sousReponses .reponseBtn {
    background: none;
    border: 3px solid var(--jaune);
    width: 20vw;
    min-width: 260px;
    font-family: 'RaleWay';
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.sectionSolo .reponses .sousReponses .reponseBtn:hover {
    background-position: right center;
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.5s;
}

.sectionSolo .reponses .divTimer {
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
    border: 5px solid var(--jaune);
}

.sectionSolo .reponses .divTimer p {
    font-family: 'FuturaBold';
    font-size: 30px;
    margin-top: 30%;
    color: var(--jaune);
}

.sectionSolo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionSolo label {
    font-family: 'FuturaBold';
    color: #fff;
}

#currentScore {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16em;
    text-shadow: var(--orange) 5px 5px, var(--orange) -5px 5px, var(--orange) -5px -5px, var(--orange) 5px -5px;
    animation: 0.5s cubic-bezier(0, .76, .33, .25) scoreAppear;
    transform: scale(1) rotate(-16deg) translate(-50%, -50%);
    transform-origin: center center;
}

@keyframes scoreAppear {
    from {
        transform: scale(5) rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform: scale(1) rotate(-16deg) translate(-50%, -50%);
    }
}

/******************************************************** RANK PAGE **********************************/

.mainRank {
    background: #292929;
    margin: 0;
    padding: 150px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway';
    min-height: 100vh;
    color: white;
}

.mainRank h1 {
    margin-top: 0;
    font-family: 'FuturaBold', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 50px;
}

.mainRank table {
    border: 3px solid white;
    font-family: 'Raleway', sans-serif;
    width: 55%;
    border-collapse: collapse;
    font-size: 30px;
    border-radius: 10px;
}

.mainRank tr {
    border: 3px solid white;
    padding-top: 15px;
}

.mainRank th {
    font-weight: normal;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
}

.mainRank td {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding: 5px 20px 5px 20px;
    height: 100%;
}

.mainRank th:first-child,
.mainRank td:first-child {
    text-align: center;
}

.mainRank th:last-child,
.mainRank td:last-child {
    text-align: right;
}

.mainRank tr + tr:hover td {
    background: white;
    color: var(--orange);
}

.mainRank tr + tr:hover td:last-child {
    background: white;
    color: #fec65c;
}

.mainRank tr + tr:hover td:first-child {
    background: white;
    color: var(--rouge);
}

.mainRank figure {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin: 5px 0px 5px 20px;
    overflow: hidden;
}

.mainRank img {
    width: 100%;
}

.mainRank p {
    margin-top: 30px;
}

/***************************************************** STYLE RESULTAT *********************************/

.mainResultat {
    display: flex;
    justify-content: center;
    background: #292929;
    height: calc(100vh - 100px);
    padding-top: 100px;
}

.mainResultat .resultat {
    padding: 40px;
    display: flex;
    width: 40vw;
    margin: auto;
    justify-content: space-between;
}

.mainResultat .partieGauche {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cercleScore {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-color: var(--jaune);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreResultat {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    margin: 0;
}

.chiffreScoreResultat {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 120px;
    color: white;
    margin: 0;
    transition: 0.2s;
}

.btnSaveScore {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px 10px 5px 10px;
    background-color: var(--orange);
    color: white;
    font-weight: 300;
    transition: 0.2s;
}

.btnSaveScore:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.3);
}

.partageReseaux {
    margin-top: 4vh;
    width: 20vw;
}

.partageReseaux img {
    width: 100%;
    transition: 0.2s;
    opacity: 0.9;
}

.partageReseaux img:hover {
    transform: scale(1.02);
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.mainResultat .partieDroite {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bonnesReponses {
    background-color: var(--rouge);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.nbBonneReponse {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 100px;
    margin: 0;
    font-weight: 300;
}

.txtBonnesReponses {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    font-size: 16px;
}

.mainResultat .partieDroite button {
    display: flex;
    height: 90px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px 20px 5px 20px;
    background-color: var(--orange);
    transition: 0.2s;
}

.mainResultat .partieDroite a {
    text-decoration: none;
    outline: none;
}

.mainResultat .partieDroite button p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding-left: 10px;
    transition: 0.2s;
}

.mainResultat .partieDroite .replayImg {
    height: 60px;
    width: 60px;
    transform: rotate(90deg);
    transition: 0.2s;
}

.mainResultat .partieDroite button:hover p {
    font-weight: 500;
    transition: 0.3s ease;
}

.mainResultat .partieDroite button:hover .replayImg {
    transform: rotate(-90deg);
    transition: 0.3s ease;
}

/**************************************************** SELECT GAME PAGE ********************************/

.mainSelect {
    margin: 0;
    background: #292929;
    height: 100vh;
}

.mainSelect h1 {
    text-align: center;
    margin-bottom: 100px;
    color: white;
    font-family: "FuturaBold", sans-serif;
    padding-top: 20vh;
    margin-top: 0px;
}

.mainSelect div {
    color: white;
    width: 60%;
    text-align: center;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 80px;
}

.buttonSolo a {
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    width: 180px;
    padding: 20px 0 20px 0;
    font-family: 'FuturaBold', sans-serif;
    transition: 0.2s;
}

.buttonMulti a {
    border: 3px solid white;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 42px;
    width: 250px;
    padding: 20px 0 20px 0;
    border-radius: 3px;
    transition: 0.2s;
    font-family: 'FuturaBold', sans-serif;
}

.buttonSolo a:hover {
    transition: 0.2s;
    border: 3px solid var(--rouge);
    color: var(--rouge);
    width: 230px;
}

.buttonMulti a:hover {
    transition: 0.2s;
    border: 3px solid var(--rouge);
    color: var(--rouge);
    width: 300px;
}

.selectMulti {
    height: calc(100vh - 74px);
    display: flex;
}

.selectMulti h1 {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #2D2D2D;
    border-radius: 20px;
    color: white;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

/*************************************************STYLE ACCOUNT********************************/

.mainAccount {
    background: #292929;
    margin: 0;
    padding: 150px 50px 50px 50px;
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    min-height: calc(100vh - 100px);
    color: white;
}

.mainAccount h1 {
    margin-top: 0;
    font-family: 'FuturaBold', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 50px;
}

.mainAccount table {
    border: 3px solid white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
    border-radius: 10px;
}

.mainAccount tr {
    border: 3px solid white;
    padding-top: 15px;
}

.mainAccount th {
    font-weight: normal;
    font-size: 30px;
    padding: 10px 50px 10px 50px;
}

.mainAccount td {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding: 5px 20px 5px 20px;
    height: 100%;
}

.mainAccount td p {
    margin-left: 100px;
}

.mainAccount th:first-child,
.mainAccount td:first-child {
    text-align: center;
}

.mainAccount th:last-child,
.mainAccount td:last-child {
    text-align: right;
}

.mainAccount .vous {
    background: white;
}

.mainAccount td {
    color: var(--orange);
}

.mainAccount td:last-child {
    color: #fec65c;
}

.mainAccount td:first-child {
    color: var(--rouge);
}

.mainAccount figure {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin: 5px 0px 0px 10px;
    overflow: hidden;
}

.mainAccount img {
    width: 100%;
}

.infoJoueur {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    font-size: 25px;
}
.infoJoueur .nomJoueurAccount,
.infoJoueur .prenomJoueurAccount,
.infoJoueur .mailJoueurAccount{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}
.infoJoueur .figureImgJoueurAccount{
    margin: auto;
    width: 256px;
    height: 256px;
    border: 5px solid var(--rouge);
}

.infoJoueur .pseudoJoueurAccount {
    font-size: 50px;
    text-align: center;
}

.mainAccount input {
    background: none;
    border: 3px solid var(--jaune);
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: var(--jaune);
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'FuturaBold';
}

.badgesGagnes {
    border: 3px solid white;
    width: 500px;
    text-align: center;
    height: 520px;
    font-size: 25px;
}
@media only screen and (max-device-width: 480px) {
    .mainAccount{
        flex-direction: column;
        align-content: center;
    }
    .infoJoueur{
        margin: 0; 
        align-items: center;
        margin-bottom: 20px;
    }
    .infoJoueur .pseudoJoueurAccount{
        margin: 0;
        margin-bottom: 10px;
    }
    .infoJoueur .nomJoueurAccount,
.infoJoueur .prenomJoueurAccount,
    .infoJoueur .mailJoueurAccount{
        font-size: 35px;
    }
    .infoJoueur .mailJoueurAccount{
        margin-bottom: 10px;
    }
    .infoJoueur input{
        margin: 0;
        font-size: 40px;
        width: 200px;
    height: 80px;
    }
    .mainAccount table {
        margin-bottom: 30px;    
    }
    .mainAccount th{
        font-size: 40px;
    }
    .mainAccount td {
        font-size: 30px;
    }
    .badgesGagnes {
        width: 80%;
        height: auto;
        font-size: 35px;
        margin: 0;
    }
}
/***************************************************
********************* INSCRIPTION SIGN UP *********************
***********************************************************/

.signUpPage{
     background-color:var(--noir);
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.signUpPage form {
    width: 40%;
   margin: auto;
    
    margin-top: 5vh;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.signUpPage form h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 0px;
    color: var(--jaune);
    font-family: 'FuturaBold';
}
.signUpPage fieldset{
    border:none;
    display: flex;

}

.signUpPage form div:not(.imagesProfil) {
    display: flex;
    margin: auto;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;


}

.signUpPage form div input:not([type="file"]) {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Raleway';
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    outline: none;
    width: 100%;
    margin: 10px 0px 10px 0px;

}

.signUpPage form div input:not([type="file"])::placeholder {
    color: #5d5d5d;
    font-family: 'Raleway';
    font-size: 18px;
}

.signUpPage form div input[type="file"] {
    font-family: 'Raleway';
    color: white;
}

.signUpPage form div input[type="file"]:hover {
    cursor: pointer;
}

.labelIcone,
.signUpPage p {
    font-family: 'Raleway';
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.signUpPage form button {
    width: 20%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    color: white;
    border: 3px solid var(--jaune);
    font-size: 1.5vw;
    padding: 10px;
    transition: 0.2s;
    outline: none;
    font-family: 'RaleWay';
    font-weight: 700;
    color: var(--jaune);
}

.signUpPage form button:hover {
    cursor: pointer;
    transition: 0.2s;
    border: 3px solid var(--rouge);
    color: var(--rouge);
    width: 25%;
}

.imagesProfil {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
}

.imagesProfil img{
    width: 100%;
    transition: .2s;

}

.imagesProfil img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
}

.imagesProfil figure {
    margin: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/***************************************************** MEDIA QUERIES ********************************/

@media (max-width: 800px) {
    @keyframes spriteSlidingMedia {
        from {
            background-position: calc(-50vw * 24);
        }
        to {
            background-position: 0;
        }
    }
    .indexLink::after {
        width: 50vw;
        height: 50vw;
        top: calc(50vh - 25vw);
        left: calc(50vw - 25vw);

        animation: spriteSlidingMedia 0.7s steps(24, start) infinite, spriteSliding;
        animation-play-state: running, paused;
    }
    .mainIndex h1 {
        font-size: 15vw;
        top: calc(20vh - 10vw);
    }
    .indexLink a {
        top: calc(65vh + 10vw);
        z-index: 1;
        text-decoration: none;
        font-family: "FuturaBold", sans-serif;
        font-size: 5vh;
        color: var(--jaune);
        padding: 15px;
        border: 5px solid var(--jaune);
        background-color: transparent;
        transition: .1s;
        border-radius: 2px;
    }
    .lesPhotos {
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .rightHeader {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
    }
    .rightHeader div {
        padding: 10px;
    }
    .mainAbout {
        margin-top: 144px;
    }
}

@media (max-width: 500px) {
    .mainIndex h1 {
        font-size: 20vw;
        top: calc(30vh - 20vw);
    }
    .rightHeader {
        z-index: 1;
    }
    .mainSelect h1 {
        margin: 80px 0 60px 0;
        font-size: 25px;
    }
    .menuShown{
        width: 100vw;
    }
    .menuHidden{
        width: 100vw;
    }
    .footerDroite {
        width: 100px;
    }
    .footerDroite input {
        padding: 2px;
        width: 50px;
        height: 10px;
    }
    .lesPhotos {
        justify-content: center;
    }
    .equipe h2 {
        font-size: 10vw;
    }
    .signUpPage form {
        width: 80%;
    }
    .signUpPage form h1 {
        font-size: 60px;
    }
    .signUpPage form div {
        width: 90%;
    }
    .signUpPage form button {
        font-size: 40px;
        width: 30%
    }
    .signUpPage form button:hover {
        width: 40%;
    }
    .signUpPage form div input:not([type="file"]) {
        font-size: 40px;
    }
    .signUpPage form div input:not([type="file"])::placeholder {
        font-size: 40px;
    }
    .labelIcone {
        font-size: 30px;
    }
    .signUpPage form div input[type="file"] {
        font-size: 30px;
    }
}