


/************************************************************/
.mainSelect{
    height: 48vh;
    padding-top: 170px;
}
.mainSelect h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.mainSelect div {
    width: 60%;
    text-align: justify;
    margin: 20px 0 50px 0;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonSolo a{
    border: 3px solid #ed1b70;
    box-sizing: border-box;
    border-radius: 3px;
    color: #ed1b70;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    width: 180px;
    padding: 20px 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/*#ed1b70,#f79764,#fec65c*/

.buttonMulti a {
    border: 3px solid #f79764;
    color: #f79764;
    text-decoration: none;
    text-align: center;
    font-size: 42px;
    width: 220px;
    padding: 20px 0 20px 0;
    border-radius: 3px;
    font-weight: 300;
    transition: 0.2s;
    font-family: 'Raleway', sans-serif;
}

.buttonSolo a:hover {
    transition: 0.2s;
    border: 3px solid #fec65c;
    color: #fec65c;
    width: 230px;
}
.buttonMulti a:hover {
    transition: 0.2s;
    border: 3px solid #fec65c;
    color: #fec65c;
    width: 280px;
}

.selectMulti{
    height: calc(100vh - 74px);
    display: flex;
}
.selectMulti h1{
    margin: auto;
    text-align: center;
    padding:20px;
    background-color : #2D2D2D;
    border-radius: 20px;
    color:white;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}