.mainSelect h1 {
    margin-bottom: auto;
    text-align: center
}
body{
    margin: 0;
}
.mainSelect{
    margin: 0;
    padding-top: 0px;
    background: linear-gradient(to right,#ed1b70,#f79764,#fec65c); 
    height: 80vh;
    padding-top: 100px;
}
.mainSelect h1{
    margin-bottom: 100px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.mainSelect div{
    color: white;
    width: 60%;
    text-align: justify;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 80px;
}

.buttonSolo a{
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    width: 180px;
    padding: 20px 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    transition : 0.2s;
}

/*#ed1b70,#f79764,#fec65c*/

.buttonMulti a{
    border: 3px solid white;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 42px;
    width: 250px;
    padding: 20px 0 20px 0;
    border-radius: 3px;
    font-weight: 300;
    transition: 0.2s;
    font-family: 'Raleway', sans-serif;
}

.buttonSolo a:hover {
    transition: 0.2s;
    border: 3px solid #fec65c;
    color: #fec65c;
    width: 230px;
}
.buttonMulti a:hover {
    transition: 0.2s;
    border: 3px solid #fec65c;
    color: #fec65c;
    width: 300px;
}
.selectMulti{
    height: calc(100vh - 74px);
    display: flex;
}
.selectMulti h1{
    margin: auto;
    text-align: center;
    padding:20px;
    background-color : #2D2D2D;
    border-radius: 20px;
    color:white;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}ss