.mainResultat {
    height: calc(80vh - 74px);
    padding-top: 20vh;
}

.mainResultat .resultat {
    /*    box-shadow: 0px 0px 0px 5px grey;*/
    border-radius: 30px;
    padding: 40px;
    /*    background-color: #2D2D2D;*/
    display: flex;
    width: 40vw;
    margin: auto;
    justify-content: space-between;
}

.mainResultat .partieGauche {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cercleScore {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-color: #FEC65C;
    transition: 0.2s;
    box-shadow: 0px 0px 0px 8px #f4e1af;
}

.cercleScore:hover {
    box-shadow: 0px 0px 0px 15px #f4e1af;
    transition: 0.2s;
    font-weight: 500;
}

.scoreResultat {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 35;
    color: white;
    margin: 0;
    transition: 0.2s;
    padding-top: 25px;
}

.cercleScore:hover .scoreResultat,
.cercleScore:hover .chiffreScoreResultat {
    font-weight: 500;
    transition: 0.2s;
}

.chiffreScoreResultat {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 120px;
    color: white;
    margin: 0;
    transition: 0.2s;
}

.btnSaveScore {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px 10px 5px 10px;
    background-color: #F79754;
    color: white;
    font-weight: 300;
    transition: 0.2s;
}

.btnSaveScore:hover {
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
    box-shadow: 0px 0px 0px 5px #ff8a38;
}

.partageReseaux {
    margin-top: 4vh;
    width: 20vw;
}

.partageReseaux img {
    width: 100%;
    transition: 0.2s;
    opacity: 0.9;
}

.partageReseaux img:hover {
    transform: scale(1.02);
    transition: 0.2s;
    opacity: 1;
    cursor: pointer;
}

.mainResultat .partieDroite {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bonnesReponses {
    background-color: #FEC65C;
    box-shadow: 0px 0px 0px 8px #f4e1af;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.nbBonneReponse {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 100px;
    margin: 0;
    font-weight: 300;
    padding-top: 30px;
}

.txtBonnesReponses {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    font-size: 16px;
}

.mainResultat .partieDroite button {
    display: flex;
    height: 90px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px 20px 5px 20px;
    background-color: #F79754;
    transition: 0.2s;
}

.mainResultat .partieDroite a {
    text-decoration: none;
    outline: none;
}

.mainResultat .partieDroite button p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding-left: 10px;
    transition: 0.2s;
}

.mainResultat .partieDroite .imgReplay {
    height: 60px;
    width: 60px;
    transform: rotate(90deg);
    transition: 0.2s;
}

.mainResultat .partieDroite button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 10px #ffb17b;
    transition: 0.2s;
}

.mainResultat .partieDroite button:hover p {
    font-weight: 500;
    transition: 0.3s ease;
}

.mainResultat .partieDroite button:hover .imgReplay {
    transform: rotate(-90deg);
    transition: 0.3s ease;
}

.badgesObtenus {
    text-align: center;
}

.badgesObtenus img {
    margin-top: 30px;
    width: 200px;
}

.badgesObtenus p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #2D2D2D;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
}
