.footer {
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "FuturaBold";

}


/* Footer left */

.footerGauche {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50vw;
}

.logo {
    max-height: 15vw;
}

.footer-links {
    color: var(--noir);
    margin: 0;
    padding: 0;
    width: 40vw;
    text-align: center;
    height: 30px;
    font-size: 1.3vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-width: 200px;
    margin: 20px;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}

.footer-links a:hover {
    color: var(--rouge);
    transition: 0.2s;
}

.footerReseaux img {
    max-width: 3vw;
    padding: 5px;
}

.footerReseaux img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.footerReseaux {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.footerReseaux a {
    margin: 0 20px;
}

/* Footer Right */

.footerDroite {
    float: right;
    display: inline-block;
    padding: 0 0 2vw 2vw;
}

.footerDroite h3 {
    vertical-align: top;
    margin-bottom: 20px;
    color: var(--orange);
    font-size: 1.8vw;
    color: var(--noir);
}


/* The contact form */

.footer form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer form input,
.footer form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid var(--rouge);
    resize: none;
    outline: none;
    font-size: 14px;
    color: black;
    width: 20vw;
    padding: 18px;
}

.footer::-webkit-input-placeholder {
    color: #5c666b;
}

.footer::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer:-ms-input-placeholder {
    color: #5c666b;
}

.footer form input {
    height: 55px;
    margin-bottom: 15px;
    font-family: "Raleway";
}

.footer form textarea {
    height: 100px;
    margin-bottom: 20px;
    font-family: "Raleway";
}

.footer form button {
    background-color: white;
    border: 3px solid var(--rouge);
    color: var(--rouge);
    outline: none;
    padding: 15px 50px;
    float: right;
    cursor: pointer;
    font-size: 18px;
    font-family: "FuturaBold", sans-serif;
}

.footer form button:hover {
    transition: 0.2s;
    transform: scale(1.02);
    border: 3px solid var(--orange);
    color: var(--orange);
}

@media (max-width: 1000px) {
    .footer {
        font: bold 14px sans-serif;
    }
    .footer .footerNom {
        font-size: 12px;
    }
    .footer form input,
    .footer form textarea {
        width: 250px;
    }
    .footer form button {
        padding: 10px 35px;
    }
}

@media (max-width: 800px) {
    .footer {
        padding: 30px;
    }
    .footer .footerGauche,
    .footer .footerDroite {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer .footerGauche {
        margin-bottom: 40px;
    }
    .footer form {
        margin-top: 30px;
    }
    .footer form {
        display: block;
    }
    .footer form button {
        float: none;
    }
}
